.content {
   padding: 80px 0;
}

.dash-embeded {
   .nav.nav-tabs {
      justify-content: space-between;
      text-align: center;
      height: 100%;
      .nav-link {
         background-color: $gray-300;
         color: $gray-800;
         padding: 23px 10px;
         text-align: center;
         @media (min-width: 1200px) and (max-width: 1400px) {           
            padding: 23px 3px;
            font-size: 10px !important;            
         }
         @media (max-width: 768px) {
            padding: 23px 20px;
         }
         @media (max-width: 550px) {
            padding: 15px 10px;
         }
      }
      .nav-link.active {
         border: 0;
         color: white;
         background-color: $gray-700;
      }
   }
}

// Responsive
@media (max-width: 768px) {
   .mobile-px-0 {
      padding-left: 0 !important;
      padding-right: 0 !important;
   }
}